body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  
  margin:auto; 
}
.logo{
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.container {
  padding-top: 15%;
  display: flex;
  
  
}


.text {
    display:flex;
    align-items: right;
}
.SheBrewLogo{
  width: 20%;
  flex-grow:0;
  flex-shrink:0;
}
.wrapper { 
  padding-top: 3%;
  display:flex;
  justify-content: space-around;
  
} 
.video{
  width: 150%;
  height:150%;
  overflow: visible;
}

.homeContainer{
  background-color: #F6c101;
}
.aboutContainer{
  padding-top: 5%;
  padding-right: 10%;
  background-image: ("wood.png");
}
.video{
  border-radius: 3%;
  border-style: solid;
  border-color: whitesmoke;
}




.mapContainer{
  margin:auto;
  max-width: 50%;
}

.pin-icon {
  color:red;
  font-size: 30px;
} 

/* Blog CSS */
.card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50%;
  margin: auto;
  width:50%;
  
}
.card-body{
  overflow: auto;
}
.card-text{
  height:400px;
  width:fit-content;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  resize: both;
}








/* About CSS */
.johnImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .aboutPage{

} */

/* .wrapper{
   border-style: dotted;
}
.container{
  border-style: dotted;
} */

.App{
  
}